<div class="card">
            <img src="<%= entry.url %>">
            <div class="card-metadata">
                <span class="card-name">Template Name</span>
                <div class="button-box">
                    <button class="add-to-liked"><i class="fa-solid fa-heart"></i></button>
                    <button class="delete"><i class="fa-solid fa-trash"></i></button>
                    <button class="download"><i class="fa-solid fa-download"></i></button>
                </div>
            </div>
</div>