<nav>
    <div>
        <img src="">
        <span class="nav-title">
            Wallpapers
        </span>
    </div>
    <div>
        <input type="text">
        <button class="liked-button">Liked</button>
        <button class="add-button">+</button>
    </div>
</nav>