<nav>
    <div>
        <img src="template_icon.png">
        <span class="nav-title">
            Wallpapers
        </span>
    </div>
    <div>
        <input placeholder="Search" type="text">
        <a href="/liked"><button class="liked-button"><i class="fa-regular fa-heart"></i></button></a>
        <a href="/upload"><button class="add-button"><i class="fa-solid fa-plus"></i></button></a>
    </div>
</nav>