<nav>
    <div>
        <img src="template_icon.png">
        <span class="nav-title">
            Wallpapers
        </span>
    </div>
    <div>
        <input placeholder="Search" type="text">
        <button class="liked-button">Liked</button>
        <button class="add-button">+</button>
    </div>
</nav>