<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpaper Gallery</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        html{
            height: 100%;
        }

        body{
            min-height: 100%;
        }
    </style>
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/gallery.css">
    <script src="https://kit.fontawesome.com/06b14e7a2c.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="gallery-body">
        <% Entries.forEach(entry => { %>
            <%- include('./partials/card.ejs', {entry}) %>
        <% }); %>

    </div>



    <script>
        function addToLiked(name,url){
            const uploadObject = {name,url};
            fetch('/liked', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(uploadObject)
            })
            .then(res => window.location.href = '/liked')
            .catch(err => console.log(err));
        }

        function deleteFromCollection(collection, id){
            if(collection == "entries"){
                fetch(`/${id}`, {method: 'DELETE'})
                .then(res => {
                    if (!res.ok) console.log("delete failed for " + id);
                    window.location.href = "/";
                    window.location.reload(true);
                })
            }

            if(collection == 'favourites'){
                fetch(`/liked/${id}`, {method: 'DELETE'})
                .then(res => {
                    if (!res.ok) console.log("delete failed for " + id);
                    window.location.href = "/";
                    window.location.reload(true);
                })
            }
        }

        function search(e){
            if(e.key == 'Enter'){
                const name = e.target.value;
                window.location.href = `/search?name=${name}`
            }
        }
    </script>
</body>
</html>