<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpaper Gallery</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html{
            height: 100%;
        }

        body{
            min-height: 100%;
        }
    </style>
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/gallery.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="gallery-body">
        <% Entries.forEach(entry => { %>
            <%- include('./partials/card.ejs', {entry}) %>
        <% }); %>

    </div>
</body>
</html>